 

<ion-header [translucent]="true" class="ion-no-border head" >
  <ion-toolbar>
    <ion-button color="none" class="icon-container" [routerLink]="['/main']">
      <img class="icon" src="./../../../assets/images/Q.svg" alt="Q" slot="start">
    </ion-button>
    <ion-title >Provider</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="medium"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  *ngIf=!loaded>
  <div class="loader">
    <ion-spinner type="circular"> 
    </ion-spinner>
  </div>
</ion-content>
<ion-content class="ion-padding" [fullscreen]="true"  *ngIf=loaded>
  <h1>  {{_prov.name}}</h1>

  <img src={{_prov.image}} alt="">
  <div>
  
    <h2>
      Provider description
    </h2>
    {{_prov.description}}
    <br>
    rating : {{_prov.rating}}   
  </div>
  <!-- --- -->
  <div class="calendar-container">
    <full-calendar [options]='calendarOptions'></full-calendar>
  </div> 
  <!-- --- -->


  <div class="but-flex"> 
    <h2 class="descContainer">Services</h2>
    <a href="/create-service">
    <ion-button color="medium" *ngIf="self" shape="round">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Add new Service
      </ion-button>
    </a>
  </div>
  
  <div>
    <ion-list class="serv-container" lines="none" *ngFor="let serv of _servs">
      <!-- <ion-item (click)=serviceClick(ev)> -->
    <!-- <ion-item (click)="openModal(serv.id)" > -->
      <ion-card class="i-card" (click)="openModal(serv.id)">
        <img alt="Service image" src={{serv.image}} />
        <ion-card-header>
          <ion-card-title>{{serv.name}}</ion-card-title>
          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content>
          {{serv.description}}
        </ion-card-content>
      </ion-card>
<!-- 
      <ion-item class="i-item" (click)="openModal(serv.id)" >
        <ion-thumbnail slot="start">
         <img alt="Service image" src={{serv.image}} />
        </ion-thumbnail>
         
        <ion-label>
          <div  >
            <b>
             {{serv.name}}
            </b>          
          </div>
          <br>
          {{serv.description}}
        </ion-label>
        <br>
      </ion-item> -->
    </ion-list>
  </div>
</ion-content>